/* Воход */

.form-login {
    display: flex; /* Используем гибкую модель размещения */
    justify-content: center; /* Выравнивание контента по центру по горизонтали */
    align-items: center; /* Выравнивание контента по центру по вертикали */

    width: 400px;
}

/* CSS-правила для скругления углов для полей ввода и кнопок */
.form-control, .btn {
    border-radius: 5px; /* Скругление углов на 5px */
}

.btn_login {

    background-color: #1AD993;
    color: white;
    padding: 5px 90px;
    text-align: center; /* Выравнивание текста по центру */
    box-shadow: none;
    display: inline-block;
    font-size: 24px; /* Размер шрифта */
    margin: 4px 2px; /* Отступы вокруг кнопки */
    cursor: pointer; /* Изменение курсора при наведении */
    border-radius: 100px; /* Скругление углов */
    border: 0px;

    width: 400px;
}

.remember {
    background-color: #1AD993;
    color: white;
    padding: 5px 90px;
    text-align: center; /* Выравнивание текста по центру */
    box-shadow: none;
    display: inline-block;
    font-size: 24px; /* Размер шрифта */
    margin: 4px 2px; /* Отступы вокруг кнопки */
    cursor: pointer; /* Изменение курсора при наведении */
    border-radius: 100px; /* Скругление углов */
    border: 0px;

}

.user_data {
    margin-top: 10px;
    background-color: white; /* Белый фон */
    color: #1AD993; /* Цвет текста */

    padding: 15px;


    font-size: 18px; /* Размер шрифта */
    border: 2px solid #1AD993; /* Зеленая обводка */
    border-radius: 10px; /* Скругление углов */
    margin-bottom: 10px; /* Отступ снизу */

    width: 370px;
    height: auto;
}

input[type="text"],
input[type="password"],
input[type="login"], input[type="email"] {
    margin-top: 10px;
    background-color: white; /* Белый фон */
    color: #1AD993; /* Цвет текста */
    padding: 10px 15px; /* Подобный отступ вокруг текста */
    font-size: 16px; /* Размер шрифта */
    border: 2px solid #1AD993; /* Зеленая обводка */
    border-radius: 10px; /* Скругление углов */
    margin-bottom: 10px; /* Отступ снизу */

    text-align: center; /* Выравнивание текста по центру */
    box-shadow: none;
    display: flex; /* Используем flexbox для центрирования содержимого */

    align-items: center; /* Центрируем содержимое по вертикали */

    width: 370px;

}





/* */
body {
    margin: 0;
    color: #0D0D0D;
    font-family: Montserrat, sans-serif;
}

:target:before {
    content: "";
    display: block;
    height: 80px; /* высота вашей шапки */
    margin: 40px 0 0; /* отрицательный отступ равный высоте вашей шапки */
}


/* */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    top: 0;
    padding: 0 60px;
    background-color: #f8f9fa;
    position: fixed;
    box-sizing: border-box;

    background-color: #D1F7E9;
}

.logo {
    width: 460px;
    height: auto;
}

.logo_cap {
    width: 200px;
    height: auto;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

.auth {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-item {
    color: #0D0D0D;
    text-decoration: none;
    font-size: 24px;
}

.text_h1 {
    color: #025949;
    font-weight: 900;
    font-size: 64px;
    text-align: center;
}

.h2 {

    font-size: 36px;
}

.icon {
    width: 52px;
    height: 52px;
    margin-right: 5px;
}


/* О нас */
.content {
    height: 750px;

    margin-top: 120px;
    display: flex;
    align-items: center;

    gap: 40px;

    top: 0;
    padding: 0 60px;

}

.btn1 {
    background-color: #1AD993;
    color: white;
    padding: 25px 100px; 
    text-align: center; /* Выравнивание текста по центру */
    box-shadow: none;
    display: inline-block;
    font-size: 24px; /* Размер шрифта */
    margin: 4px 2px; /* Отступы вокруг кнопки */
    cursor: pointer; /* Изменение курсора при наведении */
    border-radius: 100px; /* Скругление углов */
    border: 0px;
}

.text_block_about {
    margin-top: 80px;
    gap: 10px;
    padding: 20px;
}

.text_block_about_t {

    gap: 0px;

}


.image-block {
    width: 660px;
}
.image_block {
    width: 100%;
    height: 100%;
}


/* Топ сборок */
.top_builds {
    top: 0;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 250px;
    margin-bottom: 250px;
}

.top_builds_all_block {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 40px;
}

.top_builds_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.top_builds_img {
    width: 360px;
    object-fit: contain;
}

.top_builds_h1 {
    font-size: 36px;
    font-weight: 600;
    color: #025949;
}

.top_builds_all_par {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.top_builds_text {
    word-wrap: break-word;
    width: 300px;
}

.top_builds_ico {}

.top_builds_par {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top_builds_btn {
    width: 360px;

    background-color: #1AD993;
    color: 0D0D0D;
    padding: 15px 105px;
    text-align: center; /* Выравнивание текста по центру */
    box-shadow: none;
    display: inline-block;
    font-size: 18px; /* Размер шрифта */
    margin: 4px 2px; /* Отступы вокруг кнопки */
    cursor: pointer; /* Изменение курсора при наведении */
    border-radius: 100px; /* Скругление углов */
    font-weight: 300;

    border: 0px;
}


/* Сборка своего*/
.accessories_h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 300;
}

.accessories_block {
    width: 100%;
    display: flex;

    padding: 0 60px;
    gap: 25px;
}

.selection_parameters {
    align-items: center;

}

.accessories_img {
    padding: 50px;
    width: 50%;
    height: 100%;
}

.accessories_cpu_img {
    padding: 50px;
    width: 50%;
    height: 100%;
}

.accessories_maker_intel {
    background-color: #FFFFFF;
    background-size: cover;
    box-sizing: border-box;
    border: 0px solid #FFFFFF;
    width: 200px;
    height: auto;
    border-radius: 1000px;


    margin
}
.accessories_maker_intel:hover {
    background-color: #E9E9FD;
    /* box-sizing: border-box;
    border: 3px solid #9393F6; */
}

.accessories_maker_amd {
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 0px solid #FFFFFF;
    background-size: cover;
    width: 200px;
    height: auto;
    border-radius: 1000px;
}
.accessories_maker_amd:hover  {
    background-color: #D1F7E9;
    /* box-sizing: border-box;
    border: 3px solid #1AD993; */
}

.button-pressed-intel-cpu {
    box-sizing: border-box;
    border: 3px solid #9393F6;
    background-color: #E9E9FD;
}

.button-pressed-amd-cpu {
    box-sizing: border-box;
    border: 3px solid #1AD993;
    background-color: #D1F7E9;
}
/*
.button-pressed-intel-gpu {
    box-sizing: border-box;
    border: 3px solid #9393F6;
    background-color: #E9E9FD;
}

.button-pressed-amd-gpu {
    box-sizing: border-box;
    border: 3px solid #1AD993;
    background-color: #D1F7E9;
}

.button-pressed-nvidia-gpu {
    box-sizing: border-box;
    border: 3px solid #1AD993;
    background-color: #D1F7E9;
}
*/

.btn_intel {
    weight: 10px
    height: 10px;
    margin: 5px;
    padding: 10px;
    background-color: #FFFFFF;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 25px;

}
.btn_intel:hover {

    background-color: #E9E9FD;
}

.btn_amd {
    weight: 10px
    height: 10px;
    margin: 5px;
    padding: 10px;
    background-color: #FFFFFF;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 25px;

}
.btn_amd:hover {
    background-color: #E9E9FD;

}


.buttons-cpu-container {
    font-size:12px;
    display: flex;
    flex-wrap: wrap; /* Перенос элементов на новую строку, если ширина контейнера меньше ширины элементов */
    max-width: 1000px; /* Максимальная ширина контейнера */
}

.btn_cpu {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;

    border-radius: 100px;
    border: 0px;

    color: #0D0D0D;
    background-color: #FFFFFF;

}
.btn_cpu:hover {
    background-color: #E9E9FD;
    border: 30px;
    border-color: #9393F6;
}

.btn {
    gap: 25px;
    padding: 15px;
    max-width: 450px;
}

.accessories_var {
    width: 100%; /* Занимает всю ширину родительского div */
    display: flex; /* Используем flexbox для центрирования содержимого */

    align-items: center; /* Центрируем содержимое по вертикали */
}


.accessories_hint {
    padding-top: 15px;
    padding-bottom: 15px;

    color: #025949;
}

.accessories_option_btn {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;

    border-radius: 100px;
    border: 0px;

    color: #0D0D0D;
    background-color: #FFFFFF;
}
.accessories_option_btn:hover {
    background-color: #E9E9FD;
    border: 30px;
    border-color: #9393F6;
}

.accessories_line {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 2px;
    background-color: #E9E9FD;
}


/* Подвал */
.menu_item_footer {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    top: 0;
    padding: 0 60px;
    box-sizing: border-box;

    color: #FFFFFF;
    background-color: #025949;
}

.builds-container {
    display: flex;
    flex-wrap: nowrap; /* не переносить элементы на новую строку */
    overflow-x: hidden; /* добавить горизонтальную прокрутку, если элементы не помещаются */
}

.build-card {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    min-width: 300px; /* Указываем минимальную ширину, чтобы карточки не сжимались */
}

.build-card h2 {
    color: #333;
}

.build-card p {
    font-size: 16px;
    color: #666;
}

