<!DOCTYPE html>
<html>
<head>
    <div class="logo_t"></div>
    <title>UP_comp</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<!-- Шапка сайта -->
<div class="header">
    <a href=""><img src="{{ url_for('static', filename='vector/logo.svg') }}" alt="Logo" class="logo_cap"></a>
    <div class="menu">
        <a class="menu-item" href="#content">О нас</a>
        <a class="menu-item" href="#top_builds">Топ лучших</a>
        <a class="menu-item" href="#build_pc">Собрать пк</a>
        <div class="auth">
            <a href=""><img src="{{ url_for('static', filename='vector/ico/profile.svg') }}" alt="Icon"
                            class="icon"></a>
            <a class="menu-item" href="">Авторизация</a>
        </div>
    </div>
</div>

<!-- 1 блок про нас -->
<div class="content">
    <div class="text_block_about">
        <div class="text_block_about_t">
            <a id="content"> <img src="{{ url_for('static', filename='vector/logo.svg') }}" alt="Logo" class="logo"> </a>
            <p class="h2">Интерактивный сервис для создания, обсуждения и покупки сборок ПК</p>
        </div>
        <button class="btn1">Собрать</button>
    </div>
    <img src="{{ url_for('static', filename='image/comp_bl1.png') }}" alt="Image" class="image_block">
</div>

<!-- Топ сборок -->
<div class="top_builds">
    <h1 class="text_h1" id="top_builds">Топ сборок</h1>
    <div class="top_builds_all_block">
        <dev class="top_builds_block">
            <img src="{{ url_for('static', filename='image/top_builds/UP_lite.png') }}" alt="Image"
                 class="top_builds_img">
            <p class="top_builds_h1">UP_lite</p>
            <dev class="top_builds_all_par">
                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/processor.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/graphics_card.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/ram.svg') }}" alt="Icon" class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/motherboard.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

            </dev>
            <p class="top_builds_h1">50 000 ₽</p>
            <button class="top_builds_btn">Подробнее</button>
        </dev>

        <dev class="top_builds_block">
            <img src="{{ url_for('static', filename='image/top_builds/UP_mid.png') }}" alt="Image"
                 class="top_builds_img">
            <p class="top_builds_h1">UP_mid</p>
            <dev class="top_builds_all_par">
                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/processor.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/graphics_card.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/ram.svg') }}" alt="Icon" class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/motherboard.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

            </dev>
            <p class="top_builds_h1">150 000 ₽</p>
            <button class="top_builds_btn">Подробнее</button>


        </dev>

        <dev class="top_builds_block">
            <img src="{{ url_for('static', filename='image/top_builds/UP_kaif.png') }}" alt="Image"
                 class="top_builds_img">
            <p class="top_builds_h1">UP_kaif</p>
            <dev class="top_builds_all_par">
                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/processor.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/graphics_card.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/ram.svg') }}" alt="Icon" class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/motherboard.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600G</p>
                </dev>

            </dev>
            <p class="top_builds_h1">250 000 ₽</p>
            <button class="top_builds_btn">Подробнее</button>


        </dev>

    </div>
</div>

<!-- Сборка собственного пк -->
<h1 class="text_h1" id="build_pc">Собери свой пк</h1>
<div>
    <h2 class="accessories_h1">Процессор</h2>
    <div class="accessories_block">
        <img src="{{ url_for('static', filename='image/accessories/cpu.png') }}" alt="Accessories"
             class="accessories_img">
        <div>
            <div>
                <img src="{{ url_for('static', filename='image/accessories/cpu_intel.png') }}" alt="CPU"
                     class="accessories_maker_intel">
                <img src="static/image/accessories/cpu_amd.png" alt="CPU" class="accessories_maker_amd">
            </div>
            <div class="accessories_var">
                <p class="accessories_hint">Серия</p>
                <div>
                    <button class="accessories_option_btn">i3</button>
                    <button class="accessories_option_btn">i5</button>
                    <button class="accessories_option_btn">i7</button>
                </div>
                <div class="accessories_line"></div>
            </div>
        </div>
    </div>
</div>

<!-- Подвал -->
<div class="footer">
    <a href=""><img src="{{ url_for('static', filename='vector/logo_footer.svg') }}" alt="Logo" class="logo_cap"></a>
    <div class="menu">
        <a class="menu_item_footer" href="">О нас</a>
        <a class="menu_item_footer" href="">Собрать пк</a>
        <a class="menu_item_footer" href="">Топ лучших</a>
    </div>
</div>
</body>
</html>