<!DOCTYPE html>
<html>
<head>
    <div class="logo_t"></div>
    <title>UP_comp</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<!-- Шапка сайта -->
<div class="header">
    <a href=""><img src="{{ url_for('static', filename='vector/logo.svg') }}" alt="Logo" class="logo_cap"></a>
    <div class="menu">
        <a class="menu-item" href="#top">О нас</a>
        <a class="menu-item" href="#top_builds">Топ лучших</a>
        <a class="menu-item" href="#accessories_blocks">Собрать пк</a>
        <div class="auth">
            <a href=""><img src="{{ url_for('static', filename='vector/ico/profile.svg') }}" alt="Icon"
                            class="icon"></a>
            {% if current_user.is_authenticated %}
            <a class="menu-item" href="{{ url_for('profile') }}">Профиль</a>
            {% else %}
            <a class="menu-item" href="{{ url_for('login') }}">Авторизация</a>
            {% endif %}
        </div>
    </div>
</div>

<!-- 1 блок про нас -->
<div class="content">
    <div class="text_block_about">
        <div class="text_block_about_t">
            <a> <img src="{{ url_for('static', filename='vector/logo.svg') }}" alt="Logo" class="logo"> </a>
            <p class="h2">Интерактивный сервис для создания, обсуждения и покупки сборок ПК</p>
        </div>
        <button class="btn1" onclick="location.href='#accessories_blocks'">Собрать</button>
    </div>
    <img id="contents" src="{{ url_for('static', filename='image/comp_bl1.png') }}" alt="Image" class="image_block">
</div>

<!-- Топ сборок -->
<div class="top_builds">
    <h1 id="top_builds" class="text_h1">Топ сборок</h1>
    <div class="top_builds_all_block">
        <dev class="top_builds_block">
            <img src="{{ url_for('static', filename='image/top_builds/UP_lite.png') }}" alt="Image"
                 class="top_builds_img">
            <p class="top_builds_h1">UP_lite</p>
            <dev class="top_builds_all_par">
                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/processor.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">Intel Core i5-12400f</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/graphics_card.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">NVidia GeForce GTX 1650</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/ram.svg') }}" alt="Icon" class="top_builds_ico">
                    <p class="top_builds_text">XPG 16Gb 3200MHz ddr4</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/motherboard.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">MSI H610</p>
                </dev>

            </dev>
            <p class="top_builds_h1">50 000 ₽</p>
        </dev>

        <dev class="top_builds_block">
            <img src="{{ url_for('static', filename='image/top_builds/UP_mid.png') }}" alt="Image"
                 class="top_builds_img">
            <p class="top_builds_h1">UP_mid</p>
            <dev class="top_builds_all_par">
                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/processor.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 5 5600</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/graphics_card.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">NVidia GeForce RTX 4060</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/ram.svg') }}" alt="Icon" class="top_builds_ico">
                    <p class="top_builds_text">XPG 16Gb 3600MHz ddr4</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/motherboard.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">Gigabyte B550</p>
                </dev>

            </dev>
            <p class="top_builds_h1">100 000 ₽</p>
        </dev>

        <dev class="top_builds_block">
            <img src="{{ url_for('static', filename='image/top_builds/UP_kaif.png') }}" alt="Image"
                 class="top_builds_img">
            <p class="top_builds_h1">UP_kaif</p>
            <dev class="top_builds_all_par">
                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/processor.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">AMD Ryzen 7 7700</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/graphics_card.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">NVidia GeForce RTX 4070 Ti</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/ram.svg') }}" alt="Icon" class="top_builds_ico">
                    <p class="top_builds_text">XPG 32Gb 5600MHz ddr5</p>
                </dev>

                <dev class="top_builds_par">
                    <img src="{{ url_for('static', filename='vector/ico/motherboard.svg') }}" alt="Icon"
                         class="top_builds_ico">
                    <p class="top_builds_text">MSI B650</p>
                </dev>

            </dev>
            <p class="top_builds_h1">200 000 ₽</p>
        </dev>
    </div>
</div>

<!-- Сборка собственного пк -->
<div>
    <h1 class="text_h1" id="accessories_blocks">Собери свой пк</h1>
    <div>
        {% if current_user.is_authenticated %}
        <div class="accessories_block">
            <img src="{{ url_for('static', filename='image/accessories/cpu.png') }}" alt="Accessories"
                 class="accessories_img">
            <div class="accessories_hint">
                <h2 class="accessories_h1">Процессор</h2>
                <div id="cpu" class="accessories_var">
                    <button class="accessories_maker_intel" onclick="showCPU('intel')" id="Intel_Button_CPU">
                        <img src="{{ url_for('static', filename='image/accessories/cpu_intel.png') }}" alt="CPU"
                             class="accessories_cpu_img"></button>
                    <button class="accessories_maker_amd" onclick="showCPU('amd')" id="AMD_Button_CPU">
                        <img src="static/image/accessories/cpu_amd.png" alt="CPU" class="accessories_cpu_img">
                    </button>
                </div>

                <div id="Buttons_cpu" class="btn"></div>
                <div class="accessories_line"></div>
                <h3>Вы выбрали:</h3>
                <div id="selectedText1_cpu"></div>
                <h3>Цена:</h3>
                <div id="selectedText2_cpu"></div>
            </div>
        </div>
        <div class="accessories_block">
            <img src="{{ url_for('static', filename='image/accessories/gpu.png') }}" alt="Accessories"
                 class="accessories_img">
            <div class="accessories_hint">
                <h2 class="accessories_h1">Видеокарта</h2>
                <div id="gpu" class="accessories_var">
                    <button class="accessories_maker_intel" onclick="showGPU('nvidia')" id="Nvidia_Button_GPU">
                        <img src="{{ url_for('static', filename='image/accessories/gpu_nvidia.png') }}" alt="GPU"
                             class="accessories_cpu_img"></button>
                    <button class="accessories_maker_amd" onclick="showGPU('amd')" id="AMD_Button_GPU">
                        <img src="static/image/accessories/cpu_amd.png" alt="GPU" class="accessories_cpu_img">
                    </button>
                    <button class="accessories_maker_amd" onclick="showGPU('intel')" id="Intel_Button_GPU">
                        <img src="static/image/accessories/cpu_intel.png" alt="GPU" class="accessories_cpu_img">
                    </button>
                </div>
                <div id="Buttons_gpu" class="btn"></div>
                <div class="accessories_line"></div>
                <h3>Вы выбрали:</h3>
                <div id="selectedText1_gpu"></div>
                <h3>Цена:</h3>
                <div id="selectedText2_gpu"></div>
            </div>
        </div>
        <div class="accessories_block">
            <img src="{{ url_for('static', filename='image/accessories/ram.png') }}" alt="Accessories"
                 class="accessories_img">
            <div class="accessories_hint">
                <h2 class="accessories_h1">Оперативная память</h2>
                <div id="ram" class="accessories_var">
                    <button class="accessories_maker_intel" onclick="showSSDgb('ddr4')" id="ddr4_Button_RAM">
                        <p>ddr4</p>
                    </button>
                    <button class="accessories_maker_amd" onclick="showSSDgb('ddr5')" id="ddr5_Button_RAM">
                        <p>ddr5</p>
                    </button>
                </div>
                <div id="Buttons_ram" class="btn"></div>
                <div class="accessories_line"></div>
                <h3>Вы выбрали:</h3>
                <div id="selectedText1_ram"></div>
                <h3>Цена:</h3>
                <div id="selectedText2_ram"></div>
            </div>
        </div>
        <div class="accessories_block">
            <img src="{{ url_for('static', filename='image/accessories/motherboard.png') }}" alt="Accessories"
                 class="accessories_img">
            <div class="accessories_hint">
                <h2 class="accessories_h1">Материнская плата</h2>
                <div id="mb" class="accessories_var">
                </div>
                <div id="Buttons_mb" class="btn">Сперва выберите процессор</div>
                <div class="accessories_line"></div>
                <h3>Вы выбрали:</h3>
                <div id="selectedText1_mb"></div>
                <h3>Цена:</h3>
                <div id="selectedText2_mb"></div>
            </div>
        </div>
        <div align="center">
            <form id="buildform">
                <button class="btn1" type="submit">Сохранить</button>
            </form>
        </div>
        {% else %}
        <p align="center">Для доступа к этой функциональности необходимо <a href="{{ url_for('login') }}">войти</a>.</p>
        {% endif %}
        <br>
    </div>
</div>

<!-- Подвал -->
<div class="footer">
    <a href=""><img src="{{ url_for('static', filename='vector/logo_footer.svg') }}" alt="Logo"
                    class="logo_cap"></a>
    <div class="menu">
        <a class="menu_item_footer" href="#top">О нас</a>
        <a class="menu_item_footer" href="#top_builds">Рекомендованные сборки</a>
        <a class="menu_item_footer" href="#accessories_blocks">Собрать пк</a>
    </div>
</div>
<script>
    document.getElementById('buildform').addEventListener('submit', function(event) {
    event.preventDefault();  // Предотвращаем стандартную отправку формы

    const formData = new FormData(this);  // Создаем FormData из формы
    const jsonData = {};
    var cost = 0
    cost += parseInt(document.getElementById('selectedText2_cpu').textContent.slice(0, -2));
    cost += parseInt(document.getElementById('selectedText2_gpu').textContent.slice(0, -2));
    cost += parseInt(document.getElementById('selectedText2_ram').textContent.slice(0, -2));
    cost += parseInt(document.getElementById('selectedText2_mb').textContent.slice(0, -2));
    if (isNaN(cost)) {
            console.error('Одно из значений не является числом');
            var p = document.createElement('p');
            p.innerHTML = 'Возможно, Вы не выбрали все комплектующие';
            document.getElementById('buildform').appendChild(p);
            return;
        }

    jsonData['cpu'] = document.getElementById('selectedText1_cpu').textContent;
    jsonData['gpu'] = document.getElementById('selectedText1_gpu').textContent;
    jsonData['ram'] = document.getElementById('selectedText1_ram').textContent;
    jsonData['mb'] = document.getElementById('selectedText1_mb').textContent;
    jsonData['cost'] = cost;

    fetch('{{ url_for('create_build') }}', {  // Передаем action формы
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsonData)
    }).then(response => {
        return response.json();  // Обрабатываем ответ сервера
    }).then(data => {
    console.log(data)
        if (data.success) {
            window.location.href = '/profile'
            } else {
            console.error('Произошла ошибка при перенаправлении');
        }  // Выводим ответ сервера в консоль
    }).catch(error => {
        console.error('Error:', error);
    });
});
</script>
<script src="{{ url_for('static', filename='script/Accessories_CPU.js') }}"></script>
<script src="{{ url_for('static', filename='script/Accessories_GPU.js') }}"></script>
<script src="{{ url_for('static', filename='script/Accessories_MB.js') }}"></script>
<script src="{{ url_for('static', filename='script/Accessories_RAM.js') }}"></script>
</body>
</html>